{% extends "base.html" %} {% block content %} 
   
      <!-- navbar end -->
          <div class="main">
            <img class="pic" src="https://www.planungsring.eu/fileadmin/_processed_/5/a/csm_2000_Kreiskrankenhaus_Rendsburg_101g5_40a6396d54.jpg")>
            <h1 class="heading"><span> House </span><span>Of The Old </span><span>Nursing Home</span></h1>
            
                <p class="para">House of the old nursing home is a short and long term care located in Nairobi in Embakasi Utawala.We coordinate our residents care through personal medical staff.Our full time activities staff offer daily activities for the residents.Home style nutritionally balanced meals are reviewed under the watchful eye of our licenced dietrician.Therapy,whether it be physical,occupational or speech is available to the residents in our therapy department.All facility staff focuses on offering services in a manner that is respectful,loving and understanding of the needs of each individual residents.Family members are encouraged to visit and participate at any time. 
                                   <br>House of the old is commited to ensuring that no person is excluded or denied benefits.</p>           

          </div>
      
          {% endblock %}