<!doctype html>
<html lang="en">
  <head>
  	<title>Payment</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
		
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="/static/css/style.css">
    <script src="https://kit.fontawesome.com/06252b95f2.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js" integrity="sha512-QSkVNOCYLtj73J4hbmVoOV6KVZuMluZlioC+trLpewV8qMjsWqlIQvkn1KGX2StWvPMdWGBqim1xlC8krl1EKQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  </head>
  <body>
		
		<div class="wrapper d-flex align-items-stretch">
			<nav id="sidebar">
				<div class="p-4 pt-5">
	        <ul class="list-unstyled components mb-5">
                <li >
                    <p class="logo">Jeda Hardware</p>
                  </li>
                  <li>
                      <a href="{{url_for('dashboard')}}">Dashboard</a>
                  </li>
                  <li>
                  <a href="{{url_for('products')}}">Products</a>                 
                  </li>
                  <li>
                    <a href="{{url_for('sales')}}">Sales</a>
                    </li>
                    <li>
                      <a href="{{url_for('customers')}}">Customers</a>
                      </li>
                      <li>
                        <a href="{{url_for('suppliers')}}">Suppliers</a>
                        </li>
                      <li>
                        <a href="{{url_for('payment')}}">Payment</a>
                    </li>
                    <li>
                        <a href="{{url_for('salesrange')}}">Reports</a>
                    </li>      
                    <li>
                        <a href="{{url_for('about')}}">About Us</a>
                   </li>
                   <li>
                    <a href="{{url_for('help')}}">Help</a>
                    </li>            
                  
	        </ul>
          
	        <div class="footer">
	        	<p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
						  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | </a>
						  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.--></p>
	        </div>

	      </div>
    	</nav>

<!-- Page Content  -->
<div id="content" class="p-4 p-md-0">
    <nav class="navbar navbar-expand-lg" id="top-nav">
      <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <div>
            {% if logged_in %}
             <i class="fas"> Signed in as: {{ username }}</i>
            {% endif %}
          </div>
          <div class="iconn">
            <a aria-current="page" href="{{url_for('logout')}}"><i class="fa-solid fa-right-from-bracket"></i>logout</a>
          </div>
        </div>
      </div>
    </nav>


        <div class="container">

            <div class="row mx-auto py-3" style="margin-top:150px; width: 500px;">
                <div class="col-xs-12 col-sm-8 col-md-12 col-sm-offset-2 col-md-offset-3">
                    <!-- alert -->
                    <form action="/sales_report" method="POST" role="form">
                        <fieldset>
                            <h2>Sales Report Date Range</h2>
                            <hr class="colorgraph">
                            <div class="form-group">
                                <input type="date" name="startdate" id="time" class="form-control input-lg"
                                    placeholder="telephone">
                            </div>
                            <div class="form-group">
                                <input type="date" name="enddate" id="time" class="form-control input-lg"
                                    placeholder="telephone">
                            </div>
                          
                            
                            <hr class="colorgraph">
                            <div class="row">
                                <div class="col-xs-6 col-sm-6 col-md-6">
                                    <input type="submit" class="btn btn-lg btn-success btn-block" value="Enter Range">
                                </div>
                                
                            </div>
                        </fieldset>
                    </form>
    
                </div>
            </div>
    
        </div>
    
        <script>
            $(function () {
                $('.button-checkbox').each(function () {
                    var $widget = $(this),
                        $button = $widget.find('button'),
                        $checkbox = $widget.find('input:checkbox'),
                        color = $button.data('color'),
                        settings = {
                            on: {
                                icon: 'glyphicon glyphicon-check'
                            },
                            off: {
                                icon: 'glyphicon glyphicon-unchecked'
                            }
                        };
    
                    $button.on('click', function () {
                        $checkbox.prop('checked', !$checkbox.is(':checked'));
                        $checkbox.triggerHandler('change');
                        updateDisplay();
                    });
    
                    $checkbox.on('change', function () {
                        updateDisplay();
                    });
    
                    function updateDisplay() {
                        var isChecked = $checkbox.is(':checked');
                        // Set the button's state
                        $button.data('state', (isChecked) ? "on" : "off");
    
                        // Set the button's icon
                        $button.find('.state-icon')
                            .removeClass()
                            .addClass('state-icon ' + settings[$button.data('state')].icon);
    
                        // Update the button's color
                        if (isChecked) {
                            $button
                                .removeClass('btn-default')
                                .addClass('btn-' + color + ' active');
                        }
                        else {
                            $button
                                .removeClass('btn-' + color + ' active')
                                .addClass('btn-default');
                        }
                    }
                    function init() {
                        updateDisplay();
                        // Inject the icon if applicable
                        if ($button.find('.state-icon').length == 0) {
                            $button.prepend('<i class="state-icon ' + settings[$button.data('state')].icon + '"></i> ');
                        }
                    }
                    init();
                });
            });
        </script>
    
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
            crossorigin="anonymous"></script>
        </body>

        </html>     