{% extends "base.html" %}

{% block content %}

<div class="container">
    <!-- Button trigger modal -->
    <!-- <button type="button" class="btn btn-primary mb-3 mt-3" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Register Staff Member
    </button> -->

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Register Staff Member</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form method="POST" action="/staff">
                        <div class="mb-3">
                            <label for="" class="form-label">Username</label>
                            <input type="text" class="form-control" name="username" id="" aria-describedby="" required>
                        </div>
                            <label for="" class="form-label">Email Address</label>
                            <input type="text" class="form-control" name="email" id="" aria-describedby="" required>
                        </div>
                        <br>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- this is the code for the table -->
    <table id="myTable" class="table">
        <thead>
            <tr>
                <th scope="col">Username</th>
                <th scope="col">Email</th>
            </tr>
        </thead>
        <tbody>
            {% for staff_member in staff %}
            <tr>
                <td>{{staff_member.username}}</td>
                <td>{{staff_member.email}}</td>
                
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}